.main-nav {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 68px;
}

.container-logo {
  margin-top: 18px;
  margin-left: 18px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.015em;
  color: #000000;
}

.btn-logout {
  margin-top: 19px;
  margin-right: 10px;
  text-transform: uppercase;
  border: 1px solid #000000;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 576px) {
  .main-nav {
    width: 576px;
  }
}

@media (min-width: 768px) {
  .main-nav {
    width: 768px;
  }
  .btn-logout {
    margin-right: 40px;
   }
}
@media (min-width: 992px) {
  .main-nav {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px;
  }
  .container-logo {
    margin-left: 40px;
   }
}
@media (min-width: 1400px) {
  .main-nav {
    width: 100vw;
  }
  .btn-logout {
   margin-right: 240px;
  }
  
}